<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <title>{{pageTitle}}</title>
        <h1>{{pageTitle}}</h1>
    </head>
    <body>
        <p>Maintance Page We will be back</p>
        {{> footer}}
    </body>
</html>
